.body::before {
    background-image: url(https://thumbs.dreamstime.com/b/double-exposure-city-night-stack-coins-finance-investor-background-investment-banking-concept-forex-trading-candlestick-139884994.jpg);
    background-size: cover;
    background-position: fixed;
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.3;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.details {
    position: absolute;
    right: 0px;
    bottom: 25%;
    width: 300px;
    border: 1px solid rgb(36, 29, 29);
    padding: 10px;
    margin-right: 1%;

}

.detail {
    position: absolute;
    left: 0px;
    bottom: 25%;
    width: 300px;
    border: 1px solid rgb(36, 29, 29);
    padding: 10px;
    margin-left: 1%;
}
header.MainHeader {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color:rgb(31, 31, 128);
    padding: 5px;
    font-size: 15px;
    color: white;
    width: 100%;
}
a.link{
    color: white;
}

.reference{
    margin-left: 1%;
}

@media screen and (max-width:500px){
    .mainHeader{
        max-width: 100vw;
        max-height: 100vh;
    }
    .main{
        max-width: 100vw;
        max-height: 100vh;
    }
    .details{
        max-width: 100vw;
        max-height: 100vh;
    }
    .reference{
        max-width: 100vw;
        max-height: 100vh;
    }
}